{% extends 'base.html' %}

{% block title %}
    House Predicting
{% endblock %}

{% block content %}
<div style="text-align: center;margin-top: 100px;">
<h1 >House Predictor App</h1>
</div>
    <div class="container d-flex justify-content-center align-items-center " style="height: 50vh;">
        <div class="container border" style="height: 50vh;">
            <form id="predictionForm" style="margin-top: 50px;">
                <div class="form-group">
                    <label for="house_median_price">House Median Price:</label>
                    <input type="number" class="form-control" id="house_median_price" name="house_median_price" required>
                </div>
                <div class="form-group">
                    <label for="total_bedroom">Total Bedroom:</label>
                    <input type="number" class="form-control" id="total_bedroom" name="total_bedroom" required>
                </div>
                <div class="form-group">
                    <label for="total_room">Total Room:</label>
                    <input type="number" class="form-control" id="total_room" name="total_room" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="container border"  style="height: 50vh;">
          
        
            <div style="text-align: center;margin-top: 50px;">
                <div id="result"></div>
                <div id="response"></div>
   
            </div>
        </div>
    </div>
  
    <script>
        document.getElementById("predictionForm").addEventListener("submit", function(event) {
            event.preventDefault();
            var houseMedianPrice = document.getElementById("house_median_price").value;
            var totalBedroom = document.getElementById("total_bedroom").value;
            var totalRoom = document.getElementById("total_room").value;

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/predict", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var result = JSON.parse(xhr.responseText);
                    console.log(result);
                    if (result.error){
                        document.getElementById("result").innerHTML = "Error: " + result.error;
                    }
                    else{
                        document.getElementById("result").innerHTML = "Predicted Price: " + result.predicted_house_price;
                    }
                }
            };
            var data = JSON.stringify({
                median_income: houseMedianPrice,
                total_bedrooms: totalBedroom,
                total_rooms: totalRoom
            });
            console.log(data);
            xhr.send(data);
        });
    </script>
{% endblock %}
 

